.mainDiv {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultText {
  width: 200px;
}
.buttonConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonsDiv {
  margin: 20px 140px !important;
  padding: 20px;
  background-color: antiquewhite;
}
.buttonEle {
  margin: 2px;
  width: 50px;
}
